#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header {
  /* 高さが1の位置から2まで */
  grid-row: 1 / 2;
  /* 横幅が1の位置から3まで */
  grid-column: 1 / 3;
}

footer {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

.box1 {
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

.box2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.box3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.box4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
