#animation {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background: #ffbb1e;
  height: 60px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
